#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

App, ol {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(247, 217, 181);
}

.task {
  border: 3px solid white;
  border-radius: 20px;
  width: 100%;
  margin: .5em;
  padding: .5em;
  background-color: rgb(123, 166, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

.task * {
  background-color: rgb(123, 166, 236);
}

.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
}