#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

App, ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(247, 217, 181);
}

.task {
  border: 3px solid white;
  border-radius: 10%;
  width: 50%;
  margin: 1em;
  padding: 1em;
  background-color: rgb(123, 166, 236);
}

.task * {
  background-color: rgb(123, 166, 236);
}

.task p {
  font-size: larger;
}